# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Custom files
/*.suo
/*.sdf
/*.opensdf
/Debug
/chinese_weather/win32/*.user
/chinese_weather/win32/Debug